{% extends 'base.html.twig' %}
{% block title %}500 – Server Error{% endblock %}
{% block body %}
<div class="text-center py-5">
    <h1 class="display-4">500</h1>
    <p class="lead">An internal server error occurred. Please try again later.</p>
    <a href="{{ path('app_home') }}" class="btn btn-primary">Go Home</a>
</div>
{% endblock %}
