{% extends 'base.html.twig' %}
{% block title %}404 – Not Found{% endblock %}
{% block body %}
<div class="text-center py-5">
    <h1 class="display-4">404</h1>
    <p class="lead">The page you're looking for could not be found.</p>
    <a href="{{ path('app_home') }}" class="btn btn-primary">Go Home</a>
</div>
{% endblock %}
